/* Colours: */
$color-grey-05: #F9F9F9;
$color-grey-15: #DBDBDB;
$color-grey-30: #ACACAC;
$color-grey-50: #808080;
$color-grey-80: #2C2C2C;
$color-grey-90: #02051C;
$color-white: #FFFFFF;
$color-blue-30: #4A90E2;
$color-blue-90: #2E2A35;
$color-red: #EA5940;
$color-yellow-05: #FEDB43;

/* Mixins */
@mixin all-text {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}
@mixin all-caps {
	letter-spacing: normal;
  text-transform: uppercase;
}
@mixin sans-serif {
	@include all-text;
	font-family: "effra", sans-serif;
}
@mixin script {
	@include all-text;
	font-family: "ff-prater-sans-web",sans-serif;
}
@mixin monospace {
	@include all-text;
	font-family: Menlo, Consolas, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
}
@mixin button {
	@extend p;
	padding: 0px 32px 0px 32px;
	line-height: 48px; //Border adds 2px extra
	font-weight: 600 !important; //For some reason without the important property the btn-default class overwrites font-weight with own value
	border: 1px solid none;
	border-radius: 8px;
	box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.16);
	&:hover {
		border: 1px solid none;
		transition: 0.3s ease;
		text-decoration: none;
		box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.20);
	}
	&:active {
		box-shadow: 0px 2px 8px 0px rgba(0,0,0,0.18);
	}
}

// Layout
html, body {
  height: 100%;
}
body {
	padding-top: 90px;
	@media (max-width: 768px) {
		padding-top: 60px;
	}
}

// Typography
h1 {
  @include sans-serif;
  color: $color-grey-90;
  font-family: Effra;
  font-weight: 800;
  //font-style: inherit;
  font-size: 52px;
  line-height: 60px;
  margin-top: 30px;
  margin-bottom: 30px;
	@media screen and (max-width: 640px) {
    font-size: 32px;
    line-height: 60px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
h2 {
  @include sans-serif;
  color: $color-grey-90;
  font-weight: 800;
  font-size: 32px;
  line-height: 60px;
	margin-top: 30px;
  margin-bottom: 30px;
  @media screen and (max-width: 640px) {
    font-size: 26px;
    line-height: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
h3 {
  @include sans-serif;
  @include all-caps;
  color: $color-grey-90;
  font-weight: 800;
  font-size: 20px;
  line-height: 30px;
  margin-top: 30px;
  margin-bottom: 0px;
}
p {
  @include all-text;
	@include sans-serif;
  color: $color-grey-90;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
	margin-bottom: 30px;
	a {
		color: $color-grey-90;
		text-decoration: underline;
		&:hover {
			color: $color-blue-30;
			text-decoration: none;
		}
	}
}
ul {
  @extend p;
  list-style: none;
  padding: 0;
	margin-top: 30px;
}

// UI
.button-primary {
	@include button;
	color: $color-white;
	background: $color-red;
	&:active {
		color: $color-white;
		border: 1px solid $color-red;
		background: darken($color-red, 3%);
	}
}
.button-secondary {
	@include button;
	border: 1px solid $color-grey-15;
	background: $color-white;
	&:active {
		border: 1px solid $color-grey-05;
		background: $color-white;
		//background: darken($color-white, 1%);
	}
}
.logo {
	@include script;
	line-height: 50px;
	font-size: 40px;
	font-weight: bold;
	a {
		color: $color-grey-90;
		&:hover{
			transition: 0.3s ease;
			text-decoration: none;
			opacity: 0.7;
		}
	}
}
body > .logo { // A workaround to keep the logo centred on top of the navbar (using z-index)
	position: fixed;
	top: 20px;
	left: 50%;
	margin-left: -76px;
	z-index: 10;
	@media (max-width: 1024px) {
		font-size: 32px;
		margin-left: -62px;
	}
	@media (max-width: 768px) {
		position: absolute;
		top: 40px;
	}
}

// Containers
.navbar {
	z-index: 9;
	height: 90px;
	padding-top: 20px;
	margin: 0px;
	background: rgba(255,255,255,0.96);
	box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.10);
	ul {
		@extend p;
	}
	.navbar-btn {
		@extend .button-secondary;
		margin: 0px;
		.logo-slack {
			display: inline-block;
			margin: -4px 0 0 8px;
			height: 20px;
			width: 20px;
		}
	}
}
.navbar-default .navbar-nav > li > a {
	color: $color-grey-90;
	text-decoration: none;
	&:hover{
		color: $color-grey-50;
		transition: 0.3s ease;
		text-decoration: underline;
	}
}
.jumbotron {
	padding: 60px 0 60px 0;
	background: $color-white;
	.thumbnail {
		height: 128px;
		width: 128px;
		padding: 20px;
		margin-top: 40px;
		background: $color-yellow-05;
		border: none;
		border-radius: 8px;
	}
	h2 {
		margin-bottom: 0px;
	}
	p {
		@extend h2;
		margin-top: 0px;
		margin-bottom: 30px;
		font-weight: 400;
	}
	.btn-default {
		@extend .button-primary;
		margin: 5px 0px 5px 0px; // Should be resused to preseve vertical rhythm
	}
}
.container-content {
	padding-top: 30px;
	padding-bottom: 150px;
	@media (max-width: 768px) {
		padding-top: 30px;
	}
}
.panel-default {
	margin: 0 0 30px 0;
	background: $color-white;
	box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.24);
	border-radius: 8px;
	border: none; // Required to maintain vertical rhythm
	.panel-body {
		padding: 30px 20px 0px 20px;
	}
	.media-left {
		padding-right: 20px;
	}
	.media-object {
		height: 50px;
		width: 50px;
		background: $color-yellow-05;
		border-radius: 8px;
		border: none;
	}
	.img-greetbot {
		padding: 6px;
	}
	code {
		font-size: 16px;
	}
	.media-body {
		.media-heading {
			margin: 0 0 0 0;
			font-weight: 600;
			.badge {
				margin-top: -4px;
				margin-left: 8px;
				padding-left: 4px;
				padding-right: 4px;
				border-radius: 0px;
				font-weight: 400;
				color: $color-grey-30;
				background: $color-grey-05;
			}

		}
		.message-mention {
			color: $color-blue-30;
		}
		.message-cursive {
			font-style: italic;
			color: $color-grey-30;
		}
		blockquote {
			padding: 0px 24px 0 16px;
			margin-bottom: 30px;
			border-left: 6px solid $color-grey-15;
		}
	}
}
.footer {
	height: 400px;
	padding: 80px;
	.logo {
		color: $color-white;
		a {
			color: $color-white;
		}
	}
	ul {
		padding: 40px 0 40px 0;
		list-style-type: none;
		li > a {
			@extend p;
			color: $color-white;
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
	}
	.mono {
		@include monospace;
		font-size: 16px;
		font-weight: 400;
		a {
			opacity: 0.5;
			color: $color-white;
			text-decoration: none;
			&:hover {
				text-decoration: underline;
			}
		}
	}
}

// Themes
.background-white {
	background: $color-white;
}
.background-grey {
	background: $color-grey-05;
}
.background-dark {
	background: $color-blue-90;
	p {
		color: $color-white;
		opacity: 0.5;
	}
}
