/* Colours: */
$color-grey-05: #F4F4F4;
$color-grey-15: #DBDBDB;
$color-grey-30: #ACACAC;
$color-grey-50: #808080;
$color-grey-80: #2C2C2C;
$color-grey-90: #02051C;
$color-white: #FFFFFF;
$color-blue: #4A90E2;
$color-red: #EA5940;
$color-yellow: #FEDB43;

/* Mixins */
@mixin all-text {
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
}
@mixin all-caps {
	letter-spacing: normal;
  text-transform: uppercase;
}
@mixin sans-serif {
	@include all-text;
	font-family: "effra", sans-serif;
}

// Text
h1 {
  @include sans-serif;
  color: $color-grey-90;
  font-family: Effra;
  font-weight: 800;
  //font-style: inherit;
  font-size: 52px;
  line-height: 60px;
  margin-top: 30px;
  margin-bottom: 30px;
	@media screen and (max-width: 640px) {
    font-size: 32px;
    line-height: 60px;
    margin-top: 30px;
    margin-bottom: 30px;
  }
}
h2 {
  @include sans-serif;
  color: $color-grey-90;
  font-weight: 800;
  font-size: 32px;
  line-height: 60px;
	margin-top: 30px;
  margin-bottom: 30px;
  @media screen and (max-width: 640px) {
    font-size: 26px;
    line-height: 32px;
    margin-top: 32px;
    margin-bottom: 16px;
  }
}
h3 {
  @include sans-serif;
  @include all-caps;
  color: $color-grey-90;
  font-weight: 800;
  font-size: 20px;
  line-height: 30px;
  margin-top: 30px;
  margin-bottom: 16px;
}
p {
  @include all-text;
	@include sans-serif;
  color: $color-grey-90;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
	margin-bottom: 30px;
}
a {
	color: $color-grey-90;
  text-decoration: underline;
	&:hover{
		transition: 0.3s ease;
    color: $color-red;
    text-decoration: none;
	}
  .button {
    @include sans-serif;
    color: $color-white;
    display: inline-block;
    background: $color-red;
    border: 4px solid none;
    border-radius: 40px;
    font-weight: 800;
    font-size: 20px;
    line-height: 48px;
		margin-top: 6px;
		margin-bottom: 6px;
    padding: 0px 32px 0px 32px;
    //margin-top: 32px;
		//margin-bottom: 32px;
		box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.24);
  	&:hover{
  		transition: 0.3s ease;
      text-decoration: none;
			box-shadow: 0px 0px 16px 0px rgba(0,0,0,0.32);
  	}
  }
}

li {
	display: inline-block;
	margin-right: 8px;
}

li > a {
	color: $color-grey-90;
  text-decoration: underline;
	&:hover{
		transition: 0.3s ease;
    color: $color-red;
    text-decoration: none;
	}
}
ul {
  @extend p;
  list-style: none;
  padding: 0;
	margin-top: 30px;
	//margin: 0;
}

.link-list {
	//font-size: 15px;
}

.text-list {
	list-style: none;
}

//Margins

.hero-image {
	@media screen and (min-width: 768px) {
		padding-right: 60px;
		padding-top: 40px;
	}
}

.size-img {
  width: 180px;
  height: 180px;
  @media screen and (max-width: 992px) {
    width: 120px;
    height: 120px;
  }
}

.container {
	//margin: auto 0;
	@media screen and (max-width: 640px) {
		margin: 16px;
	}
}

.container-title {
		margin-top: 40px;
}

// Themes
.background-yellow {
	background: $color-yellow;
}

// Layout
html, body {
  height: 100%;
	background: $color-yellow;
}
.vertical-center {
  min-height: 100%;  // Fallback for browsers do NOT support vh unit
  min-height: 100vh; // These two lines are counted as one :-)
  display: flex;
  align-items: center;
}
